{% extends "layout.html" %}

{% block title %}Friends{% endblock %}

{% block content %}
    <div>
        {% for item in list %}
            <h2>{{item}}</h2>
        {% endfor %}
    </div>
    <div>
        {% for item in list2 %}
            <h3>{{item["username"]}} sent you a friend request.</h3>
            <a href="/accept/{{item['id']}}">
                <button class="createbtn">Accept</button>
            </a>
            <a href="/reject/{{item['id']}}">
                <button class="createbtn">Reject</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}